<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <script lang="javascript">
        // メッセージをHello Worldにリセットする
        window.onload = function () {
            init();
        }
    </script>
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Spring Boot Starter Kit</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
        <form method="post" action="/hello">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">input</span>
                        <input id="message" name="message" type="text" class="form-control" placeholder="message" aria-label="Username"
                            aria-describedby="basic-addon1" th:value="${message}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id="submit" type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="col">
                    <button id="reset"  type="button" class="btn btn-warning">Reset</button>
                </div>
            </div>
        </form>
    </div>

    <script src="dist/main.js" crossorigin="anonymous"></script>
    <script src="js/hello.js"></script>
</body>

</html>